.profile-info {
	margin: 0 0 30px 0;
	&:after {
		@extend %clearfix;
	}
}
.profile-info__photo {
	float: left;
	margin: 0 30px 0 0;
	img {
		display: block;
	}
}
.profile-info__info {
	height: 255px;
	position: relative;
	float: left;
	width: 645px;
	text-transform: uppercase;
}
.profile-info__name {
	font: 500 30px/42px $font-stack;
}
.profile-info__tagline {
	font: 400 24px/29px $font-stack;
}
.profile-info__sum {
	padding: 20px 0 25px 0;
	font: 18px/27px $font-stack;
}
.profile-info__info-meta {
	position: absolute;
	bottom: 0;
	left: 0;
	& li {
		float: left;
		margin: 0 0 0 30px;
		&:first-child {
			margin: 0;
		}
	}
}
.profile-info__actions {
	width: 142px;
	float: right;
}
.profile-info__actions-item {
	margin: 0 0 15px 0;
}
.photos {
	clear: both;
	&:after {
		@extend %clearfix;
	}
}
.photos__list {
	margin: 0 0 0 -30px;
}
.photos__item {
	float: left;
	margin: 0 0 30px 30px;
	width: 350px;
	height: 350px;
	overflow: hidden;
	img {
		width: 100%;
		height: 100%;
		display: block;
	}
	.photos--profile & {
		width: 255px;
		height: 255px;
		&:first-child {
			width: 540px;
			height: 540px;
		}
	}
}
.photos-info {
	text-align: center;
	font: 500 18px/24px $font-stack;
	margin: 0 0 30px 0;
}
.profile-update {
	width: 730px;
	padding: 45px 0 30px;
}
.upgrade-form {
	width: 540px;
	padding: 45px 0 30px;
	text-align: center;
	margin: 0 auto;
}
.upgrade {
	margin: 0 0 20px 0;
	&:after {
		@extend %clearfix;
	}
	.upgrade__item {
		width: 221px;
		border: 2px solid #000;
		float: right;
		padding: 45px 15px 30px;
		&:first-child {
			float: left;
		}
	}
	.upgrade__price {
		margin: 0 0 25px 0;
		font: 500 24px/32px $font-stack;
		display: block;
	}
	.upgrade__info {
		padding: 25px 0 0 0;
		font: 500 14px/17px $font-stack;
		display: block;
	}
}