@import "compass";
@import "mixins";
@import "fonts";

$font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
%clearfix {
	content: '';
	clear: both;
	display: block;
	overflow: hidden;
	height: 0;
}
%inner {
	width: 1110px;
	margin: 0 auto;
}
%button {
	background: #000;
	color: #fff;
	text-align: center;
	@include box-sizing('border-box');
	width: 100%;
	border: 0;
	font: 500 18px/41px $font-stack;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
}

@import "reset";
@import "gray";
@import "fancybox";
@import "common";
@import "form";
@import "home";
@import "profile";
@import "parties";
@import "event";
@import "photo";
@import "dashboard";