@import "color";

$headline-font: 'Open Sans', sans-serif;

$headline-weight: 700;

$body-font: 'Open Sans', sans-serif;

$body-weight: 300;

$cursive-font: 'Rock Salt', cursive;

$cursive-weight: 400;

$body-text-color: $color_2;

$widen-min: 950px;

$widen-max: 1280px;

$ss: 10px;

$xs: 20px;

$sm: 30px;

$md: 50px;

$lg: 100px;

$xl: 125px;

$xx: 150px;
